@model WebToDoApp.Models.LoginViewModel
@{
    ViewBag.Title = "Войти";
}

<div style="margin-top: 50px;" class="text-center">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <h1>Войти</h1>
        <div>
            @Html.LabelFor(model => model.UserName)
        </div>
        <div>
            @Html.EditorFor(model => model.UserName)
            @Html.ValidationMessageFor(model => model.UserName)
        </div>

        <div>
            @Html.LabelFor(model => model.Password)
        </div>
        <div>
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <br />

        <div><button class="btn btn-default">Войти</button></div>
    }
</div>
